html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
  background-color: rgba(91, 192, 222, 1);
}
#home {
  background: rgb(91, 192, 222);
  background: linear-gradient(180deg, rgba(91, 192, 222, 1) 24%, rgba(59, 113, 202, 1) 100%);
}
#about {
  background: rgb(91, 192, 222);
  background: linear-gradient(0deg, rgba(91, 192, 222, 1) 24%, rgba(59, 113, 202, 1) 100%);
}
#skills {
  background: rgb(91, 192, 222);
  background: linear-gradient(180deg, rgba(91, 192, 222, 1) 24%, rgba(59, 113, 202, 1) 100%);
}
#projects {
  background: rgb(91, 192, 222);
  background: linear-gradient(0deg, rgba(91, 192, 222, 1) 24%, rgba(59, 113, 202, 1) 100%);
}
#contact {
  background: rgb(91, 192, 222);
  background: linear-gradient(180deg, rgba(91, 192, 222, 1) 24%, rgba(59, 113, 202, 1) 100%);
}
