html {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body {
  background-color: white;
}

.dark {
  background-color: rgba(20, 17, 17, 0.804);
  color: white;
}

.dark .sosmed {
  color: white;
  border-color: white;
}

.dark .sosmed:hover {
  background-color: white;
  color: black !important;
}
